[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple/"
verify_ssl = true
name = "pcic"

[packages]
pyyaml = "*"
python-dateutil = "==2.8.2"
pycds = {version = "==3.3.0", index = "pcic" }
connexion = {version = "2.13.0", extras = ["swagger-ui"]}
Flask = "==2.1.1"
Flask-Cors = "==3.0.10"
Flask-SQLAlchemy = "==2.5.1"

[dev-packages]
pytest = "*"
"testing.postgresql" = "*"
black = "*"
sdpb = {editable = true, path = "."}

[pipenv]
allow_prereleases = true
